@tailwind base;

@tailwind components;

@tailwind utilities;



/* personal customization */



.logo_blue{
    color: #143d59;
}
.logo_yellow
{
    color: #e4a918;
}
.logo_yellow_back
{
   background-color: #e4a918;
}

.new
{
    color: #e4a761;
}



.myred
{
    color: #db4437;
}
.myblue
{
    color: #4285f4;
}
.myyellow
{
    color: #f4b400;
}
.myyellow_back
{
    background-color: #f4b400;
}
.mygreen
{
   color: #0f9d58;
}
.mygreen_back
{
   background-color: #0f9d58;
}
.myback
{
    background-color: #4abdac;
}
.mywhite
{
    color: #ffffff;
}
.mywhite_back{
    background-color: #ffffe4;
}

.myheader
{
    background-color:#ffffe4;
    color: #4285f4;
}

.mySlides {display:none;}